section.about-us
    .big-container.rel
        .container
            article.about-us-wrap
                .about-us__img
                    img(src="./img/about-us/01.jpg", alt="")
                .about-us__text
                    h3.about-us__title About us
                    p.about-us__subtitle Charger Customs - luxury automotive restyling center based in Corona, California. There is no limit to what we can do.
                    +btn-more('#')
        .about-us__tag
            span Who We Are
        .about-us__bg a