section.footer
    .container
        .footer-row
            +logo('#')
            ul.footer__links
                +link-head('#', 'about us') 
                +link-head('#', 'Services') 
                +link-head('#', 'projects') 
        .footer-row
            .footer__copy
                p © Copyright 2017. All Rights Reserved 