section.header
    .header__carousel.owl-carousel.owl-theme
        .header__carousel-item
            .header__carousel-item-img
                img(src="./img/header/01.jpg", alt="01.jpg")
            .header__carousel-item-content.big-container
                .header__carousel-item-content-wrap
                    h2.header__carousel-item-content-title 
                        span We’re 
                        span Charger
                    p.header__carousel-item-content-subtitle One of the most powerful and recognized brand names in the custom automotive industry.
                    a(href="#").header__carousel-item-content-link 
                        span read More
        .header__carousel-item
            .header__carousel-item-img
                img(src="./img/header/01.jpg", alt="01.jpg")
            .header__carousel-item-content.big-container
                .header__carousel-item-content-wrap
                    h2.header__carousel-item-content-title 
                        span We’re 
                        span Charger
                    p.header__carousel-item-content-subtitle One of the most powerful and recognized brand names in the custom automotive industry.
                    a(href="#").header__carousel-item-content-link 
                        span read More
        .header__carousel-item
            .header__carousel-item-img
                img(src="./img/header/01.jpg", alt="01.jpg")
            .header__carousel-item-content.big-container
                .header__carousel-item-content-wrap
                    h2.header__carousel-item-content-title 
                        span We’re 
                        span Charger
                    p.header__carousel-item-content-subtitle One of the most powerful and recognized brand names in the custom automotive industry.
                    a(href="#").header__carousel-item-content-link 
                        span read More
        .header__carousel-item
            .header__carousel-item-img
                img(src="./img/header/01.jpg", alt="01.jpg")
            .header__carousel-item-content.big-container
                .header__carousel-item-content-wrap
                    h2.header__carousel-item-content-title 
                        span We’re 
                        span Charger
                    p.header__carousel-item-content-subtitle One of the most powerful and recognized brand names in the custom automotive industry.
                    a(href="#").header__carousel-item-content-link 
                        span read More
       
            .header__carousel-item-img
                img(src="./img/header/01.jpg", alt="01.jpg")
            .header__carousel-item-content.big-container
                .header__carousel-item-content-wrap
                    h2.header__carousel-item-content-title 
                        span We’re 
                        span Charger
                    p.header__carousel-item-content-subtitle One of the most powerful and recognized brand names in the custom automotive industry.
                    a(href="#").header__carousel-item-content-link 
                        span read More
    .header__bottom-block
        ul.header__bottom-block-social
            li.header__bottom-block-social-item
                a(href="#").header__bottom-block-social-link Facebook
            li.header__bottom-block-social-item /
            li.header__bottom-block-social-item
                a(href="#").header__bottom-block-social-link Twitter
            li.header__bottom-block-social-item /
            li.header__bottom-block-social-item
                a(href="#").header__bottom-block-social-link Youtube
        .header__bottom-block-text
            p Scroll down
        .header__bottom-block-dots
            span#header-dots-now 01
            span#header-dots-all 04