section.info
    .big-container.rel
        .info__tag
            span Charger Customs
        .info__bg c
        .container
            .info-wrap
                .info__img
                    img(src="./img/info/01.jpg", alt="01.jpg")
                article.info__text
                    .info__text-title Charger
                    .info__text-subtitle <span>t</span> he Charger Customs® has grown into one of  T  the most powerful and brand names in the  custom automotive industry. We now have franchises stretching across the world. We have worked with some of the largest brands in the world, including Fortune 500 companies. We are now a household name in multiple countries and plan to continue dominating the custom car world and expand our global reach with amazing rides and concepts.
                    +btn-more('#')
