section.nav
    .big-container
        .nav-row
            .nav__logo
                +logo('#')
            ul.nav__links
                +link-head('#', 'projects') 
                +link-head('#', 'Services') 
                +link-head('#', 'about us') 
            .nav__burger
                button.nav__burger-btn#burger-btn(type='button')
                    span
                h3.nav__burger-title menu