section.nav
    .big-container
        .nav-row
            a(href="#").nav__logo
                img(src="./img/logo/icon.png", alt="logo")
                h1.nav__logo-title
                    span.nav__logo-title-main Charger
                    span.nav__logo-title-sub CUSTOMS
            ul.nav__links
                li.nav__links-item
                    a(href="#").nav__links-item-link projects
                li.nav__links-item
                    a(href="#").nav__links-item-link Services
                li.nav__links-item
                    a(href="#").nav__links-item-link about us
            .nav__burger
                button.nav__burger-btn#burger-btn(type='button')
                    span
                h3.nav__burger-title menu