section.projects
    h3.projects__title Projects
    .projects__carousel-first.owl-carousel.owl-theme
        .projects__carousel-first-item
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/01.jpg", alt="01.jpg")
        .projects__carousel-first-item
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/02.jpg", alt="02.jpg")
        .projects__carousel-first-item.projects__carousel--big
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/03.jpg", alt="03.jpg")
        .projects__carousel-first-item
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/04.jpg", alt="04.jpg")
        .projects__carousel-first-item
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/05.jpg", alt="05.jpg")
        .projects__carousel-first-item
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/06.jpg", alt="06.jpg")
        .projects__carousel-first-item.projects__carousel--big
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/07.jpg", alt="07.jpg")
        .projects__carousel-first-item
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/08.jpg", alt="08.jpg")
        .projects__carousel-first-item.projects__carousel--big
            a(href="#").projects__carousel-first-link
                img(src="./img/projects/first-carousel/09.jpg", alt="09.jpg")
    .projects__carousel-second.owl-carousel.owl-theme
        .projects__carousel-second-item
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/01.jpg", alt="01.jpg")
        .projects__carousel-second-item
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/02.jpg", alt="02.jpg")
        .projects__carousel-second-item.projects__carousel--big
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/03.jpg", alt="03.jpg")
        .projects__carousel-second-item
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/04.jpg", alt="04.jpg")
        .projects__carousel-second-item.projects__carousel--big
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/05.jpg", alt="05.jpg")
        .projects__carousel-second-item
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/06.jpg", alt="06.jpg")
        .projects__carousel-second-item.projects__carousel--big
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/07.jpg", alt="07.jpg")
        .projects__carousel-second-item
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/08.jpg", alt="08.jpg")
        .projects__carousel-second-item
            a(href="#").projects__carousel-second-link
                img(src="./img/projects/second-carousel/09.jpg", alt="09.jpg")
    .projects__link
        +btn-more('#')
    .projects-wrap-bg
        .projects__tag
            span Our Portfolio
        .projects__bg p
