section.quote
    .big-container.rel
        .container.rel
            .quote-wrap
                .quote__carousel.owl-carousel.owl-theme
                    .quote__carousel-item
                        p.quote__carousel-quote These guys do amazing work here. They made my car awesome.
                        p.quote__carousel-author John Brown
                        p.quote__carousel-model Chevrolet Camaro
                    .quote__carousel-item
                        p.quote__carousel-quote These guys do amazing work here. They made my car awesome.
                        p.quote__carousel-author John Brown
                        p.quote__carousel-model Chevrolet Camaro
                .quote__nav
                    button.quote__nav-btn-left
                        img(src="./img/quote/png/arrow-left.png", alt="arrow-left")
                    button.quote__nav-btn-right
                        img(src="./img/quote/png/arrow-right.png", alt="arrow-right")
        .quote__tag
            span Happy Clients 
        .quote__bg t