section.services
    .big-container.rel
        .container.rel
            .services-wrap
                .services-row
                    .services__text
                        h3.services__text-title Services
                        a(href="#").services__text-link learn more
                .services-row
                    .services__cards
                        .services__card
                            .services__card-img
                                img(src="./img/services/cards/01.jpg", alt="")
                            h4.services__card-before-title Tuning
                            .services__card-after
                                h4.services__card-title Tuning
                                p.services__card-subtitle Modification of the performance or appearance of a vehicle.
                                a(href="#").services__card-link read more
                        .services__card
                            .services__card-img
                                img(src="./img/services/cards/02.jpg", alt="")
                            h4.services__card-before-title Restoration
                            .services__card-after
                                h4.services__card-title Restoration
                                p.services__card-subtitle Modification of the performance or appearance of a vehicle.
                                a(href="#").services__card-link read more
                        .services__card
                            .services__card-img
                                img(src="./img/services/cards/03.jpg", alt="")
                            h4.services__card-before-title Repairs
                            .services__card-after
                                h4.services__card-title Repairs
                                p.services__card-subtitle Modification of the performance or appearance of a vehicle.
                                a(href="#").services__card-link read more
        .services__tag
            span Cars & Details 
        .services__bg s
