section.sidebar-wrap
    h2.sidebar__title Menu 
    input(type="search" class='sidebar__search' placeholder='Search')
    ul.sidebar__nav 
        li.sidebar__nav-item
            a(href="#").sidebar__nav-link
                .sidebar__nav-link-icon
                    <i class="fa fa-home" aria-hidden="true"></i>
                span.sidebar__nav-link-text Home
        li.sidebar__nav-item
            a(href="#").sidebar__nav-link
                .sidebar__nav-link-icon
                    <i class="fa fa-eye" aria-hidden="true"></i>
                span.sidebar__nav-link-text projects
        li.sidebar__nav-item
            a(href="#").sidebar__nav-link
                .sidebar__nav-link-icon
                    <i class="fa fa-id-card-o" aria-hidden="true"></i>
                span.sidebar__nav-link-text Services
        li.sidebar__nav-item
            a(href="#").sidebar__nav-link
                .sidebar__nav-link-icon
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                span.sidebar__nav-link-text about us
button.sidebar__exit#sidebar-exit(type='button')
