@font-face {
	font-family: 'proxima-nova';
	src: url('../libs/fonts/proxima-nova/proxima-nova.eot');
	src: local('☺'), url('../libs/fonts/proxima-nova/proxima-nova.woff') format('woff'), url('../libs/fonts/proxima-nova/proxima-nova.ttf') format('truetype'), url('../libs/fonts/proxima-nova/proxima-nova.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src: url('../libs/fonts/playfair/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('../libs/fonts/playfair/PlayfairDisplay-Regular.woff') format('woff'), url('../libs/fonts/playfair/PlayfairDisplay-Regular.ttf') format('truetype'), url('../libs/fonts/playfair/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay-Italic';
	src: url('../libs/fonts/playfair/PlayfairDisplay-Italic.eot');
	src: local('☺'), url('../libs/fonts/playfair/PlayfairDisplay-Italic.woff') format('woff'), url('../libs/fonts/playfair/PlayfairDisplay-Italic.ttf') format('truetype'), url('../libs/fonts/playfair/PlayfairDisplay-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../libs/fonts/myriadpro/MyriadPro-Regular.eot');
	src: local('☺'), url('../libs/fonts/myriadpro/MyriadPro-Regular.woff') format('woff'), url('../libs/fonts/myriadpro/MyriadPro-Regular.ttf') format('truetype'), url('../libs/fonts/myriadpro/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}