.projects {
  position: relative;
  z-index: 50;
  padding: 30px 0 100px;

  @media (min-width: 768px) {
    padding: 120px 0 100px;
  }
}

.projects__title {
  position: relative;
  margin-bottom: 90px;
  font-size: 55px;
  font-family: "PlayfairDisplay-Bold";
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.5px;
  text-align: center;

  @media (min-width: 480px) {
    font-size: 60px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(227, 160, 98);
    width: 47px;
    height: 2px;
  }
}

.projects__carousel-first {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 305px;
  margin-bottom: 50px;
  z-index: 50;

  @media (min-width: 480px) {
    height: 355px;
  }
}

.projects__carousel-first-item {
  position: relative;
  width: 380px;
  height: 305px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  @media (min-width: 980px) {
    width: 430px;
    height: 355px;
  }
}

.projects__carousel-first-link {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 225px;

  @media (min-width: 980px) {
    height: 275px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.projects__carousel-second {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 355px;
  z-index: 50;
}

.projects__carousel-second-item {
  position: relative;
  width: 380px;
  height: 305px;
  overflow: hidden;

  @media (min-width: 980px) {
    width: 430px;
    height: 355px;
  }
}

.projects__carousel-second-link {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 225px;

  @media (min-width: 980px) {
    height: 275px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.projects__carousel-first .projects__carousel--big {
  width: 500px;
  height: 305px;

  @media (min-width: 980px) {
    width: 550px;
    height: 355px;
  }

  .projects__carousel-first-link {
    height: 305px;
    @media (min-width: 980px) {
      height: 355px;
    }
  }
}

.projects__carousel-second .projects__carousel--big {
  width: 500px;
  height: 305px;

  @media (min-width: 980px) {
    width: 550px;
    height: 355px;
  }

  .projects__carousel-second-link {
    height: 305px;
    @media (min-width: 980px) {
      height: 355px;
    }
  }
}

.projects__link {
  display: flex;
  justify-content: center;
  z-index: 50;

  @media (min-width: 980px) {
    margin-top: 50px;
  }
}

.projects__tag {
  display: none;
  position: absolute;
  bottom: 200px;
  right: -40px;
  padding: 0 15px;
  margin: auto;
  transform: rotate(-90deg) translateX(-50%);
  font-size: 14px;
  font-weight: 400;
  font-family: "PlayfairDisplay-Regular";
  color: rgb(227, 160, 98);
  line-height: 1;

  @media (min-width: 1024px) {
    display: block;
  }

  @media (min-width: 1280px) {
    right: 0px;
  }

  span {
    position: relative;
  }

  span::before {
    position: absolute;
    top: -14px;
    left: 130px;
    transform: rotate(-90deg) translateX(-50%);
    background-color: rgb(227, 160, 98);
    width: 2px;
    height: 50px;
    content: "";
    z-index: -1;
  }
}

.projects__bg {
  position: absolute;
  top: 115px;
  right: 0;
  font-size: 300px;
  font-weight: 400;
  font-family: "PlayfairDisplay-Bold";
  color: rgba(227, 160, 98, 0.22);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.projects-wrap-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1870px;
  padding: 0 15px;
  margin: auto;
  z-index: -40;
}
