extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "ui";
	- var pageFileName= "index.html";


block content
	aside.sidebar#sidebar
		include ../sections/sidebar.pug
	.page-wrap
		header
			include ../sections/nav.pug
			include ../sections/header.pug
		main
			include ../sections/about-us.pug
			include ../sections/services.pug
			include ../sections/projects.pug
			include ../sections/quote.pug
			include ../sections/info.pug
		footer
			include ../sections/footer.pug

